#menu-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .ant-layout-header {
    line-height: 32px;
  }

  .content-header {
    background-color: #888888;
    display: flex;
    justify-content: space-between;
    height: 35px;
  }

  .content-main {
    display: flex;
    width: 100vw;
    height: 100%;

    .content {
      padding: 20px;
      height: calc(100% - 70px);
      background-color: #fff;
      border-radius: 5px;
    }
  }
}
