.state-task-count {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .state-task-count-container {
    display: flex;
    flex-direction: column;
    margin: 0px 2px;

    .count-container {
        /* border: 1px solid gray; */
        border-radius: 5px;
        min-width: 30px;
        max-width: 80px;
        text-align: center;
        margin-left: 5px;
        background-color: #fff;
    }
  }
}

@media (min-width: 1000px) {
  .state-task-count {
    width: auto;
    .state-task-count-container {
     flex-direction: row;
    }
  }
}
