$line-color: #d2d2d2;

#login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3E4074;

  .login{
    label {
      color: #fff !important;
    }
  }

  .login-page-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    margin: 0px 25px;

    .login-page-logo {
      height: 100%;
      width: 225px;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: 600px) {
  #login-page {
    .login-page-card {
      height: 250px;
      width: 550px;
    }
  }
}
