.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;

  .ant-form {
    width: 100%;
  }

  .ant-form-item {
    margin-bottom: 10px;
  }

  .ant-btn {
    font-size: 10px;
    margin-top: 15px;
    border-radius: 5px;
  }
}
