/*display*/
.d-flex { display: flex; }

/*margin*/
.m-r-auto {margin-right: auto;}
.m-l-auto {margin-left: auto;}
.m-l-10 {margin-left: 10px;}
.m-l-20 {margin-left: 10px;}

/*paddings*/
.p-lr-10 {padding: 0 10px;}